.breadcrumbNav {
    font-size: 12px;
    margin-bottom: 15px;
    padding: 0 8px;
}

.breadcrumbLink {
    text-decoration: none;
    color: #111;
    margin-right: 5px;
}

.breadcrumbSeparator {
    color: #111;
    padding: 0 12px;
}