.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroImage {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.heroImage img {
  width: 100%;
  height: auto;
  display: block;
}

.heroText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(14, 158, 96);
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #777;
}
