.preview-section-2 {
  background-color: rgb(218, 255, 247);
  display: flex;
  height: 104vh;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.section2-text p {
  margin: 0 0 1rem 0;
  padding: 0 0 0 1rem;
}
.section-text-heading {
  font-weight: 750;
  font-size: 3.7em;
  margin: 0.5em;
}
.section-text-p {
  padding: 0 10vh 0 15vh;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3;
}
.explore-button {
  background-color: rgb(195, 25, 82);
}
.section2-text {
  color: rgb(196, 47, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
}

.section2-images {
  flex: 1;
}
.section2-text {
  color: rgb(1, 107, 108);
  flex: 1;
}
/********************************* Section2 Image*********************/
.section2-grid-wrapper {
  margin: 12vh 4vh 0 0;
  gap: 2vh;
  position: relative;
  width: 45vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1 fr);
  grid-template-rows: repeat(3, 1 fr);
}
.small-card {
  border-radius: 40px;
  color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
}
.medium {
  height: 25vh;
  width: 15vw;
}
.small {
  height: 16vh;
  width: 11vw;
  font-size: 1.1em;
}
.image1 {
  background-image: url(../../../assets/preview-section/section2Bedroom.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}
.image2 {
  background-image: url(../../../assets/preview-section/section2Bedroom.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 40%;
  right: 10%;
  padding: 2vh 10vh 2vh 0;
  background-color: blue;
}
.image3 {
  background-image: url(../../../assets/preview-section/section2Bedroom.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}
.image4 {
  background-image: url(../../../assets/preview-section/section2Bedroom.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 20%;
}
